[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.5b2"
build = "==0.4.0"
docutils = "==0.17.1"
flake8 = "==3.9.2"
isort = "==5.8.0"
mypy = "==0.812"
pre-commit = "==2.13.0"
pytest = "==6.2.4"
pytest-cov = "==2.12.1"
pytest-mock = "==3.6.1"
rstcheck = "==3.3.1"
twine = "==3.4.1"
gtsh = {path = "."}

[packages]
click = "==8.0.1"
gtsh = {editable = true, path = "."}

[requires]
python_version = "3.8"
